body {  color: #0077BB; 
background:#FFFFFF url(/images/topbluefade.gif) repeat-x scroll 0 0; }

body, p, ol, ul, td {
  font-family: Arial,Helvetica,sans-serif;
 line-height: 18px;
 letter-spacing:1px;
 font-size:15px;
 
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a { color: #0077bb; }
a:visited { color: #0077bb; }
a:hover { color: #ffffff;background-color:#0077bb; padding: 1px; }

.show-all a { color: #ffffff; }
.show-all a:visited { color: #ffffff; }
.show-all a:hover { color: #ffffff; padding: 3px; }

.section-header-text {
float: left;
}
.show-all {
float: right;
}
.fieldWithErrors {
  padding: 2px;
  background-color: red;
  display: table;
}

#errorExplanation {
  width: 400px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#errorExplanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  background-color: #c00;
  color: #fff;
}

#errorExplanation p {
  color: #333;
  margin-bottom: 0;
  padding: 5px;
}

#errorExplanation ul li {
  font-size: 12px;
  list-style: square;
}

div.uploadStatus {
  margin: 5px;
}

div.progressBar {
  margin: 5px;
}

div.progressBar div.border {
  background-color: #fff;
  border: 1px solid gray;
  width: 100%;
}

div.progressBar div.background {
  background-color: #333;
  height: 18px;
  width: 0%;
}
#contents {
background-color: #e7f6ff;
margin: 0px 150px;
color:#0077bb;
padding:10px;
width:70%;
}
th, td {
padding:2px;
text-align:center;
line-height: 1.5em;
}

#header {
height: 87px;
/* background:  #d9ecff; */
}
#logo {
float: left;
padding-top:5px;
}
#actions{
float: right;

height:80px;
padding:0 5px;
font-size:12px;

}

#actions ul li {
display:inline; 
list-style-type:none; 
padding:5px;
}
.table-header{
background-color:#5dba02;
color:#ffffff;
}
#vote-details{
float: left; 
background-color: #60A4FF;
color:green;
padding: 10px 30px;
text-align:center;
width: 20%;
margin-left:33%;
}
#voters{
background-color: #60A4FF;
color:white;
padding: 10px 30px;
clear: left;
}
#list-comments{
clear:both;
}
#totalvotes{
font-size:20pt;

    font-weight: bold;
}

.list-line-even {
  background:  #d0e7ff;
}

.list-line-odd {
  background:   #e1f0ff;
}
.list-line-even-ns {
  background:  #ffc3ae;
}

.list-line-odd-ns {
  background:   #ffd8cb;
}
.op-desc a {
text-decoration: none;
}
#actions a {
    color: red;
    font-weight: bold;
    text-decoration: none;
}
#actions a:hover {
    background-color: red;
    color: #ffffff;
    font-weight: bold;
    text-decoration: none;
    padding: 0px;
}
.op-desc{
text-align:left;
}
#search{
float:right;
}
#filter-dept{
float: left;
}
#filter-project{
float: left;
margin-left:10%;
}
.addnew{
margin-top: 34px;
}

.section-header {
color:#ffffff;
font-size: 18px;
margin: 10px 0 0 0;
font-weight:bold;

}

.not-so-well-title {
background-color:#ff4200;
border:3px solid #ff9976;
padding: 5px;
padding-left: 33%;
height:20px;
clear: both;
}

.went-well-title {
background-color:#0077bb;
border:3px solid #9ACCFF;
padding: 5px;
padding-left: 33%;
height:20px;
clear: both;
}

.project-title {
color:#0077BB;
font-size:22px;
float:left;
margin-left:20%;
}
.addnew input {
background-color: #0077bb;
color: #ffffff;
padding: 1px;
}